{{#each news}}
    <div class="source-news__news">
        <div class="source-news__image-wrapper">
            <img src="{{this.urlToImage}}" class="source-news__image" />
        </div>
        <div class="source-news__title">
            <a href="{{this.url}}" target="__blank">{{this.title}}</a>
        </div>
        <footer class="source-news__footer">
            <div class="source-news__author">{{this.author}}</div>
            <div class="source-news__date">{{this.publishedAt}}</div>
        </footer>
    </div>
{{/each}}